@media screen and (max-width: 900px) {
    .newNote-container, .savedNote-container {
        width: 20rem;
    }

    input, textarea {
        width: 20rem !important;
    }

    .savedNote-container {
    
        .icon {
            font-size: 1.5rem;
            top: .75rem;
        }
    
        .delete {
            right: 1rem;
        }
    
        .edit {
            right: 3.5rem;
        }
    
        .savedNote {
            h2, input {
                font-size: 1.5rem;
                margin: 0 0 .5rem 0;
                text-align: left;
                max-width: 13rem;
            }
            p, textarea  {
                font-size: 1rem;
                text-align: justify;
                max-width: 18rem;
            }
        }

        .btn-container {
            left: 3.25rem;
        }
    }
}